{
  "printWidth": 150,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "newlineBeforeReturn": true,
  "noDuplicateVariable": [true, "check-parameters"],
  "noVarKeyword": true
}
